<!doctype html>
<html>
<head>
<style>
body {
    background: #555;
}
.content {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
}
<!-- Creates the horizontal list -->
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.a {
    display: inline;
}
</style>
 <title>GreenLeaf Cleaning Services </title>
 <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  <!--This takes in the style.css -->
</head>
<body>

<div class="content">
 <h1><a href="http://localhost:5000/home">Green Leaf Cleaning Services</a></h1>
<!-- links back to the homepage -->

 <ul>
   <li.a><a href="http://localhost:5000/home">Home</a></li.a>
   <li.a><a href="http://localhost:5000/services">Services</a></li.a>
   <li.a><a href="http://localhost:5000/about">About</a></li.a>
   <li.a><a href="http://localhost:5000/contact">Contact</a></li.a>
 </ul>

 <h3>GreenLeaf Cleaning Service</h3>
 <p>Domestic and Commercial Professional cleaning services.</p>
 <p>We are an Eco-friendly cleaning service based in the Edinburgh area. We provide a professional service which is Eco-friendly and affordable. We feel here at ‘GreenLeaf’ that you, the customer should be able to have your living space cleaned ecologically at the same price as a non-Eco friendly company.</p>

 <p>So why us?</p>
 <ul style="disc">
  <li>All our products have no hazardous substances</li>
  <li>Are phosphate and phosphonate free</li>
  <li>Are readily biodegradable</li>
  <li>Are all environmentally friendly</li>
  <li>Have a reduced impact on aquatic life</li>
  <li>Are not tested on animals</li>
  <li>A+ rated vacuums</li>
  <li>Guaranteed competitive prices</li>
 </ul>

 <p>We also believe that our products are capable of cleaning your property to the same standard as non-Eco friendly products at the same price.
If you are or have;</p>

 <ul>
   <ul style="disc">
     <li>Pregnant</li>
     <li>Elderly</li>
     <li>Health conditions (asthma, breathing problems etc.)</li>
     <li>Pets</li>
     <li>Young children or babies</li>
   </ul>

 <p>Then our products are for you, they cause no harmful toxins in the air and have no toxic residue this is perfect for Families that have any of the above circumstances.</p>

 <p>With almost 10 years in the cleaning industry we have a proven track record of customer satisfaction. All cleaners are vetted and insured for any damages within your property. To help put your mind at ease we offer a face to face opportunity to meet your personal cleaner before any work is carried out in your property. During this meeting our highly experienced cleaner will walk you through an in depth list of what our company has to offer and answer any further questions or queries you may have. </p>

 <p>Services we offer</p>
 <ul>
   <ul style="disc">
     <li>Standard domestic cleaning (vacuum/sweep, dusting, bins, toilets, damp wipe, mop/steam)</li>
     <li>Deep clean/One off clean</li>
     <li>Oven clean</li>
     <li>Seasonal cleaning</li>
     <li>End of tenancy</li>
     <li>Before/After party</li>
   </ul>

  <p>We aim to tailor our service to suit your lifestyle so we are completely flexible and offer our services 24/7.</p>

  <p>So, with all these benefits to you,your family and the environment at affordable prices.</p>

  <p>*100% money back guarantee if you are not happy with your first standard domestic clean.*</p>
</div>
</body>
</html>
