<!doctype html>
<html>
<head>
<style>
body {
    background: #555;
}
.content {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
}
<!-- Creates the horizontal list -->
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
</style>
 <title>GreenLeaf Cleaning Services </title>
 <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  <!--This takes in the style.css -->
</head>
<body>

<div class="content">
 <h1><a href="http://localhost:5000/home">Green Leaf Cleaning Services</a></h1>
<!-- links back to the homepage -->

 <ul>
   <li><a href="http://localhost:5000/home">Home</a></li>
   <li><a href="http://localhost:5000/services">Services</a></li>
   <li><a href="http://localhost:5000/about">About</a></li>
   <li><a href="http://localhost:5000/contact">Contact</a></li>
 </ul>

 <h3>Message Us on Facebook</h3>
 <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FGreenLeafEcoCleaningService%2Fposts%2F1729813097089730&width=500" width="500" height="714" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>



 <h3>Or Call us at: 07871 940788</h3>




</div>
</body>
</html>
