<!doctype html>
<html>
<head>
<style>
u1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
</style>
  <title>GreenLeaf Cleaning Services </title>
</head>
<body>
<h1><a href="http://localhost:5000/home">Green Leaf Cleaning Services</a></h1>
<!-- links back to the homepage -->
<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#services">Services</a></li>
  <li><a href="#about">About</a></li>
  <li><a href="contact">Contact</a></li>
</ul>
<iframe src="https://www.facebook.com/plugins/page.php?href=hhtp%3A%2F%2Fwww.facebook.com%2FGreenLeafEcoCleaningService%2F&tabs=timeline&width=500&height=202&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500" height="202" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" ></iframe>

</body>
</html>
