<!doctype html>
<html>
<head>
<style>
u1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
</style>
  <title>GreenLeaf Cleaning Services </title>
</head>
<body>
<h1><a href="http://localhost:5000/home">Green Leaf Cleaning Services</a></h1>
<!-- links back to the homepage -->
<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#services">Services</a></li>
  <li><a href="#about">About</a></li>
  <li><a href="contact">Contact</a></li>
</ul>

<iframe src="https://www.gumtree.com/p/domestic-cleaning-services/greenleaf-domestic-and-commercial-cleaning/1253589646" height="400" width="300"></iframe>

</body>
</html>
