<!doctype html>
<html>
<head>
<style>
body {
    background: #555;
}
.content {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
}
<!-- Creates the horizontal list -->
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
</style>
 <title>GreenLeaf Cleaning Services </title>
 <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  <!--This takes in the style.css -->
</head>
<body>

<div class="content">
 <h1><a href="http://localhost:5000/home">Green Leaf Cleaning Services</a></h1>
<!-- links back to the homepage -->

 <ul>
   <li><a href="http://localhost:5000/home">Home</a></li>
   <li><a href="http://localhost:5000/services">Services</a></li>
   <li><a href="http://localhost:5000/about">About</a></li>
   <li><a href="http://localhost:5000/contact">Contact</a></li>
 </ul>

<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FGreenLeafEcoCleaningService%2Fvideos%2F1753499484721091%2F&show_text=0&width=560" width="500" height="308" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>

 <h3>Domestic Cleaning</h3>
 <h5>12.50 per hour</h5>
 <p>We aim to clean! We provide a home cleaning service from £12.50 per hour using only eco-friendly products, if you would like more information please don't hesitate to contact us.</p>

 <h3>One Off Cleaning</h3>
 <h5>Prices from £95.00</h5>
 <p>Does your premises need a one-off deep clean or a refresh and deep sanitise. We provide an extensive range of one-off cleaning services for a variety of purposes from moving in to special events.</p>

 <h3>Commercial Cleaning</h3>
 <h5>Prices vary</h5>
 <p>We provide a commercial cleaning service in Edinburgh and the surrounding areas. We specialise in meeting your contract cleaning needs. Please enquire into the page or mobile number attached to the page.</p>


</div>
</body>
</html>
